.btn {
    padding: 1.2rem 3rem;
    //text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    min-width: 15rem;
    display: inline-flex;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: 300ms ease;
}

.btn-primary {
    background-color: $main-color-dark;
    color: $base-white;
    border-color: $main-color-dark;
}


.btn-default {
    background-color: transparent;
    color: $main-color-dark;
    border-color: $main-color-dark;
}

.btn-default:hover {
    background-color: transparent;
    color: $base-black;
    border-color: $base-black;
}
