.black-content {
    position: relative;
    padding: 6rem 0;

    @include media(md) {
        padding: 10rem 0;
    }

    .black-content-inner {
        position: relative;
        margin: auto 0;

        @include media(md) {
            min-height: 60rem;
            position: relative;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .black-content-photo {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: relative;
            
           // @include media(sm) {
                min-height: 40rem;
                max-height: 40rem;
         //   }

            @include media(md) {
                max-height: 100%;
                min-height: 100%;
            }

            img {
                max-height: 100%;
                min-height: 100%;
                width: 100%;
                object-fit: cover;
                position: absolute;
            }
        }

        .black-content-text {
            font-size: 15px;
            position: relative;
            color: black;
            background-color: $main-color;
            padding: 4rem;

            @include media(xs) {
                font-size: 17px;
            }

            .black-content-text-inner {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                padding: 3rem;
                border: 2px solid black;

                .black-content-text-title h2 {
                    position: relative;
                    margin: 0 0 6rem 0;
                    font-size: 25px;

                    &::after {
                        content: '';
                        position: absolute;
                        top: calc(100% + 10px);
                        left: 0;
                        background-color: black;
                        width: 55px;
                        height: 3px;
                    }

                    @include media(xs) {
                        font-size: 40px;
                    }

                    @include media(md) {
                        font-size: 50px;

                        &::after {
                            top: calc(100% + 30px);
                        }
                    }
                }
            }
        }
    }
}