.content-image {
    max-width: 2000px;
    margin: 0 auto;
}

.content-image-item {
    position: relative;
}

.content-image-item-inner {    
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content-image-item-photo img {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    object-fit: cover;
    max-height: 100%;
    min-height: 100%;
}

.content-image-item-text {
    padding: 10rem;
}

.content-image-item-text h3 {
    margin: 0 0 3rem 0;
}

.content-image-item.reverse-item .content-image-item-text {
    order: -1;
}

.content-image-item.reverse-item .content-image-item-photo img {
    left: auto;
    right: 0;
}

.content-image-item-cta {
    margin: 3rem 0 0 0;
}

.content-image-space {
    margin: 5rem 0 0 0;
}