.crosslink-coffee-wrapper {
    position: relative;
    padding: 12rem 0;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        background-color: $main-color;
        border-radius: 0 0 8px 0;
        z-index: 0;
    }
}

.crosslink-container {
    //display: grid;
    //grid-template-columns: 1fr 1fr;
    position: relative;
    z-index: 2;
    overflow: hidden;
    border-radius: 8px;
    margin-top: -25rem;

    @include media(xl) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        z-index: 3;
        margin-top: -25rem;
    }
}

.crosslink-item {
    //display: grid;
    //grid-template-columns: 1fr 1fr;

    // @include media(xs) {
    //     display: grid;
    //     grid-template-columns: 1fr 1fr;
    // }

    @include media(xs) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        &:nth-child(even) {
            .crosslink-item-photo {
                order: -1;
                @include media(xl) {
                    order: 1;
                }
            }
        }

        &.reverse-item .crosslink-item-photo {
            @include media(xl) {
                order: -1;
            }
        }

    .crosslink-item-content {
        display: flex;
        flex-direction: column;
        background-color: #fefcf9;
        padding: 5rem 8rem 5rem 4rem;

        .crosslink-item-content-text {
            line-height: 3.2rem;
        }

        .crosslink-item-content-title {
            font-size: 26px;
            font-weight: 700;
            position: relative;
            margin: 0 0 2rem 0;

            // &::after {
            //     content: "";
            //     position: absolute;
            //     top: calc(100% + 18.5px);
            //     left: 6%;
            //     transform: translateX(-50%);
            //     width: 35px;
            //     height: 3px;
            //     background: black;
            // }
        }

        .crosslink-item-content-cta {
            margin-top: auto;
            padding-top: 4rem;
        }
    }

    .crosslink-item-photo {
        position: relative;
        min-height: 40rem;

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            min-height: 100%;
            max-height: 100%;
            object-fit: cover;
            z-index: 1;
        }

        // &::before {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     background-color: rgba(211,176,207,.7);
        //     z-index: 2;
        // }
    }
}

.crosslink-item.reverse-item .crosslink-item-photo {
    order: -1;
}

.crosslink-item-content.background-black .crosslink-item-content-title::after {
    background: $base-white;
}

.crosslink-item-content.background-black {
    background-color: $base-black;
    color: $base-white;
}

.crosslink-item-content.background-white {
    background-color: $base-white;
}