.image-content {
    position: relative;
    padding: 10rem 0;
    .image-content-inner {
        min-height: 70rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .image-content-photo {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 0 100px 0 0;
            img {
                position: relative;
                z-index: 3;
                width: 41rem;
                max-height: 51rem;
                min-height: 51rem;
                object-fit: cover;
            }
        }        
        .image-content-text {
            align-items: left;
            padding: 10rem 5rem;
            font-size: 24px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 75rem;
            position: relative;
            color: black;
            .image-content-text-title {
                h2 {
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        top: calc(100% + 30px);
                        left: 0;    
                        background-color: black;
                        width: 55px;
                        height: 3px;
                    }
                }
            } 
            .image-content-link {
                margin: 3.5rem 0 0 0;
                a {
                    color: $main-color;
                    text-decoration: none;
                    &::hover {
                        color: #fdb393;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}


.image-shapes-wrapper {
    position: relative;
    display: flex;
    width: max-content;
    height: max-content;
    &::before {
        content: '';
        position: absolute;
        top: 60px;
        left: 50px;
        height: calc(100% + 3rem);
        width: calc(100% + 5rem);
        background-color: $main-color;
        opacity: 0.5;
        z-index: 1;
    }
    &::after {
        content: '';
        position: absolute;
        top: -30px;
        right: 30px;
        height: calc(100% + 60px);
        width: 100%;
        border: 5px solid $main-color;
        background-color: transparent;
        z-index: 2;
    }
}