.top-image {
    background: linear-gradient(90deg, rgba(227, 227, 235, 1) 50%, rgba(255, 255, 255, 1) 100%);
    position: relative;
    color: black;

    .top-image-inner {
        min-height: 72rem;

        @include media(xs) {
            min-height: 72rem;
            margin: 0;
        }

        @include media(lg) {
            margin: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            min-height: 72rem;
        }

        .top-image-photo {
            width: calc(100% + 40px);
            margin-left: -20px;

            img {
                max-height: 50rem;
                min-height: 50rem;
                width: 100%;
                object-fit: cover;
                z-index: 1;
            }

            @include media(xs) {
                width: calc(100% + 40px);
                margin-left: -20px;

                img {
                    max-height: 100%;
                    min-height: 100%;
                    width: 100%;
                    object-fit: cover;
                    z-index: 1;
                }
            }

            @include media(md) {
                width: calc(100% + 40px);
                margin-left: -20px;
                max-height: 15rem;

                img {
                    max-height: 80rem;
                    min-height: 80rem;
                    width: 100%;
                    object-fit: cover;
                    z-index: 1;
                }
            }

            @include media(lg) {
                img {
                    margin: 0;
                    position: absolute;
                    left: 0;
                    top: 0;
                    max-height: 100%;
                    min-height: 100%;
                    width: 50%;
                    object-fit: cover;
                    z-index: 1;
                }
            }
        }

        .top-image-content {
            padding: 10rem 3rem 14rem 3rem;
            font-size: 19px;

            @include media(lg) {
                padding: 10rem 3rem 14rem 3rem;
                font-size: 24px;
            }

            & h1 {
                margin: 0 0 3.5rem 0;
            }

            .top-image-cta {
                margin: 3.5rem 0 0 0;
            }

            & .marker {
                margin: 0 0 3.5rem 0;
            }
        }
    }


    // barvičky - později smazat
    // @include media(xs) {
    //     color: red;
    // }

    // @include media(sm) {
    //     color: pink;
    // }

    @include media (md) {
        color: white;
    }

    @include media(lg) {
        color: black;
    }
}