.gallery-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    margin: 8rem 0;
}

.gallery-container::before {
    position: absolute;
    content: '';
    width: 60%;
    height: 80%;
    top: -3.5rem;
    left: -3.5rem;
    border: 5px solid #f2b39a;
    z-index: 1;
}

.gallery-container::after {
    position: absolute;
    content: '';
    width: 60%;
    height: 100%;
    bottom: -3.5rem;
    right: -3.5rem;
    background-color: #fbd2c0;
    z-index: 0;
}

.gallery-item {
    position: relative;
    min-height: 300px;
    max-height: 300px;
    z-index: 2;
}

.gallery-item:nth-child(n + 10) {
display: none;
}

.gallery-item img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.gallery-container-wrapper {
    max-width: 120rem;
    margin: 0 auto 5rem auto;
}

.gallery-btn{
    margin: 4rem 0 0 0;
    cursor: pointer;
}

.gallery-container-wrapper.open .gallery-item:nth-child(n + 10) {
    display: block;
}

.gallery-container-wrapper.open .gallery-btn {
    display: none;
}




/* load more markuptag.com */

.list {
    margin: 0px auto;
    width: 80%;
    box-sizing: border-box;
}
.list-element {
    width: 100%;
    margin: 25px 0px;
    font-family: arial;
    border-radius: 50px;
    padding: 10px 0px;
    color: #2196f3;
    font-size: 20px;
    text-align: center;
    box-shadow: 0px 0px 6px 0px #848484;
    display: none;
}
#loadmore {
    margin: 50px auto 0px;
    display: table;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    background-color: #2196f3;
}
.list .list-element:nth-child(1) {
    display: block;
}
.list .list-element:nth-child(2) {
    display: block;
}