.photo-section-wrapper {
position: relative;
padding: 12rem 0;
}

.photo-section-wrapper::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% - 20rem));
    right: 0;
    width: 100%;
    height: 30rem;
    background-color: antiquewhite;
    z-index: 0;
}

.photo-section-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
    z-index: 2;
}

.photo-section-content {
    display: flex;
    align-items: center;
}

.photo-section-content-inner {
    position: relative;
    background-color: #fff;
    padding: 5rem 5rem;
    min-width: calc(100% + 10rem);
}

.photo-section-content-cta {
    margin: 3rem 0 0 0;
}

.photo-section-image img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 100%;
}