.base-container {
    max-width: 160rem;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

.header-container {
    max-width: 180rem;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

.medium-container {
    max-width: 120rem;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

.block {
    padding: 20rem 0 0 0;
}

.massage-section {
    margin: 5rem 0;
}