h1, .h1 {
    font-size: 60px;
    font-weight: 500;
    margin: 8rem 0 6rem 0;
    line-height: 78px;
    color: $base-text;

    @include media(md) {
        font-size: 70px;
        font-weight: 700;
        margin: 8rem 0 6rem 0;
        line-height: 78px;
        color: $base-text;
    } 
}

h2, .h2 {
    font-size: 40px;
    font-weight: 500;
    margin: 6rem 0 6rem 0;
    line-height: 52px;
    color: $main-color-dark;
}

h3, .h3 {
    font-size: 30px;
    font-weight: 700;
    margin: 6rem 0;
    line-height: 48px;
    color: $base-text;
}

h4, .h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 4rem 0;
    line-height: 40px;
    color: $base-text;
}


.marker {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 22px;
    display: block;
}

