//$main-color: #fbd2c0;
$main-color: #d3b0cf;
$main-color-dark: #bc81b6;
$minor-color: #f2b39a;
$base-text: #323232;
$color-line: #d3b0cf40;
$base-black: #000;
$base-white: #fff;
$menu-break: 'lg';

// barvy loga: #aa9071 + #ede7e1
