.btn {
    padding: 1rem 3.5rem;
    text-transform: uppercase;
    font-size: 19px;
    text-decoration: none;
    font-weight: 300;
    display: inline-flex;
    border: 2px solid transparent;
    transition: 300ms ease;
}

.btn-primary {
    background-color: #f2b39a;
    color: black;
    border-color: #f2b39a;
}

.btn-primary:hover {
    background-color: #df9374;
    color: black;
    border-color: #df9374;
}

.btn-default {
    background-color: black;
    color: white;
    border-color: black;
}

.btn-default:hover {
    background-color: transparent;
    color: black;
    border-color: black;
}

