.massage-card-item {
    display: grid;
    grid-template-columns:  1fr;
    padding: 5rem;
    border-radius: 8px;
    background-color: $color-line;
    margin-bottom: 5rem;
    .massage-card-item-title {
        margin: 0 0 4rem 0;
    }
    // .massage-card-item-image {
        
    // }
    .massage-card-item-content {
        max-width: 80rem;
    }
    .massage-card-item-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 5rem;
        border-radius: 8px;
        overflow: hidden;
        height: 40rem;
        .massage-card-item-gallery-item {
            img {
                min-height: 100%;
            max-height: 100%;
            object-fit: cover;
            width: 100%;
            }
        }
    }
}